.homebg{
    background-color: #1abc9c;
}
.imgwidh{
    width: 20%;
}
.headersize{
    font-size: 3.5rem;
}
.line{
    width: 100px;
    height: 3px;
    border-radius: 10px;
    background-color: white;
}
